<footer class="page-footer font-small bg pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Acompanhe os repositórios do nosso projeto</h4>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://github.com/giiiors/PI_RECiclo" target="_blank" class="icoGithub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

                <ul class="social-network">
                    <li>
                        <a href="https://github.com/Amanda1011/RECiclo-PI" target="_blank" class="icoGithub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            
        </div>

        
    </div>

    <div class="footer-copyright bgfooter text-center py-3">
        <span class="text-dark" >© 2022 Copyright: RECICLO </span>
        <a class="text-light" target="_blank" href="#"></a>
    </div>

</footer>