#img-bg {
    background-image: url('https://i.imgur.com/p1WUMVp.png');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 20px;
    color: blue;
    background-color: #F79292;
}