<div class="container-fluid bg">

    <div class="row">

        <div class="col-md-6" id="img-bg"></div>
        <div class="col-md-6 mt-3">
            <h2>Nosso projeto integrador tem como objetivo em diminuir a barreira entre as pessoas que trabalham com  reciclagem, com cooperativas, além de conectar as empresas que desejam descartar materiais recicláveis, entidades públicas para desenvolvimento de atividades socioambientais e a sociedade civil que tem interesse na coleta de resíduo sólidos.</h2>
        </div>
    </div>


</div>