<div class="container-fluid bg">

    <a class="m-0 font-weight-bold text-dark" routerLink="/home" class="text-dark text-left">
        <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
    </a>

    <div class="row">

        <div class="col-md-6" id="img-bg"></div>
        <div class="col-md-6 mt-3">
            <br>
            <div class="text mt-5 justify-text">
                <p>
                    O Projeto Integrador Reciclo tem como objetivo diminuir as barreiras entre as pessoas que trabalham
                    com reciclagem, cooperativas, conectando as empresas que desejam descartar materiais recicláveis,
                    entidades públicas para desenvolvimento de atividades socioambientais e a sociedade civil que tem
                    interesse na coleta de resíduos sólidos.
                </p>
                <br>
                <div class="text">Acompanhe o nosso projeto: </div>
            </div>
        <br>
        <div class="row mt-5">

            <a href="https://github.com/giiiors/PI_RECiclo" target="_blank" class="col-md-6 img-backend ">
            </a>

            <a href="https://github.com/Amanda1011/RECiclo-PI" target="_blank" class="col-md-6 img-frontend ">
            </a>

        </div>

    </div>
</div>
