#img-bg {
    background-image: url('https://i.imgur.com/1frBTDp.png');
    height: 500px;
    width: 500px;
    background-size: cover;

}

.mtop{
    margin-top: 100px;
}


.bg {
    background-color: #ffffff;
}

.font-edittema {
    font-family: "Lucida Console", "Lucida Console", monospace;
}

.btn-gradcancelar {
    background-image: linear-gradient(to right, #ef1a1a 0%, #e56b6b 100%);
    margin: 10px;
    padding: 10px 10px;
    height: 40px;
    width: 20%;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    border-color: #215bd870;
    display: block;
}

.btn-gradcancelar:hover {
    background-position: right center;
    /* para mudar a direção */
    color: #ef1a1a(20, 19, 18, 0.952);
    text-decoration: none;
}

.btn-gradatualizar {
    background-image: linear-gradient(to right, #599be6 0%, #3b53da 100%);
    margin: 10px;
    padding: 10px 10px;
    height: 40px;
    width: 20%;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    border-color: #215bd870;
    display: block;
}

.btn-gradatualizar:hover {
    background-position: right center;
    /* para mudar a direção */
    color: rgba(20, 19, 18, 0.952);
    text-decoration: none;
}