#img-bg {
    background-image: url('https://i.imgur.com/pk38lWq.png');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-color: #d1f6f9;
}