#img-bg {
    background-image: url('https://64.media.tumblr.com/cc00edd11d4f635d9ca744a4a9283652/437d63cfe6e7ce53-52/s1280x1920/3c923b7f51c1268457c71a68dd9547f6c8cfe2f9.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-color: #d1f6f9;
}