.bg{
	background-color: #90caf9;
}

.btn-gradeditar {
    background-image: linear-gradient(to right, #599be6 0%, #3b53da  100%);
    margin: 10px;
    padding: 5px 5px;
    height: 40px;
    width: 30%;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    border-color: #215bd870;
    display: block;
  }

  .btn-gradeditar:hover {
    background-position: right center; /* para mudar a direção */
    color: rgba(20, 19, 18, 0.952);
    text-decoration: none;
  }

.btn-gradapagar {
    background-image: linear-gradient(to right, #ef1a1a 0%, #e56b6b  100%);
	margin: 10px;
    padding: 5px 5px;
    height: 40px;
    width: 30%;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    border-color: #215bd870;
    display: block;
  }

  .btn-gradapagar:hover {
    background-position: right center; /* para mudar a direção */
    color: #ef1a1a(20, 19, 18, 0.952);
    text-decoration: none;
  }

  .font-temas{
    font-family: "Lucida Console", "Lucida Console", monospace;
  }

  .bgtema{
	background-color: #3b53da;
  }