#img-bg {
    background-image: url('https://64.media.tumblr.com/a0c7175b15efb2e1b663a638b1b3c58a/84eae289f88cdbaa-2a/s400x600/bd7668790f30c69a7991ff7efc6f870d9d247933.gifv');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-color: #d1f6f9;
}