#img-bg {
    background-image: url('https://i.imgur.com/wWqGCAc.png');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-color: #FAE6A7;
}

.font-entrar{
    font-family: "Lucida Console", "Lucida Console", monospace;
  }


.formulario {
    max-width: 500px;
    height: 500px;
    min-height: auto;
    border: 1px solid rgb(207, 191, 191);
    border-radius: 15px;
    box-shadow: 1px 10px 20px rgb(205, 186, 186);
}  

.btn-gradentrar {
    background-image: linear-gradient(to right, #599be6 0%, #3b53da  100%);
    margin: 10px;
    padding: 10px 30px;
    height: 50px;
    width: 170%;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    border-color: #215bd870;
    display: block;
  }

  .btn-gradentrar:hover {
    background-position: right center; /* para mudar a direção */
    color: rgba(20, 19, 18, 0.952);
    text-decoration: none;
  }

  .btn-gradhome {
    background-image: linear-gradient(to right, #599be6 0%, #eed26b  100%);
    margin: 10px;
    padding: 10px 30px;
    height: 50px;
    width: 170%;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    border-color: #215bd870;
    display: block;
  }

  .btn-gradhome:hover {
    background-position: right center; /* para mudar a direção */
    color: rgba(20, 19, 18, 0.952);
    text-decoration: none;
  }