#img-bg {
    background-image: url('https://i.imgur.com/QydyKS7.png/img');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-color: #fae6a7;
}