<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://i.imgur.com/qjo3Rts.png" width="50%"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/entrar">Login</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" routerLink="/cadastrar">Cadastre-se</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/sobre">Sobre nós</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
    <div class="container justify-text font-text">
        <div class="row py-4 mt-5 mb-5">
            <br>
            <div class="col-md-6 p-5">
                <h1><strong>ODS 6</strong></h1>
                <p class="d-flex justify-content-center">Nosso projeto foi desenvolvido com base no Objetivo de
                    Desenvolvimento Sustentável 6 - Água potável e Saneamento para o Desenvolvimento Sustentável.
                    Assista o vídeo e entenda mais sobre a ODS-6.</p>
            </div>
            <div class="col-md-6 p-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/odGq-ZvDmbk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="container justify-text font-text">
        <div class="row py-4 ">

            <div class="col-md-6 mb-3">
                <img src="https://i.imgur.com/tWGftQ3.png" alt="" width="65%">
            </div>
            <div class="col-md-6 mt-5 mb-3">
                <h5>PROJETO RECICLO</h5>
                <h1><strong>O OBJETIVO DO PROJETO</strong></h1>
                <p>Neste projeto será proposto uma alternativa inovadora para conectar coletoras de resíduos sólidos
                    residentes na cidade do Recife, empresas e sociedade civil com o intuito de alcançar o objetivo da
                    Agenda 2030 da Organização das Nações Unidas(ONU)
                    para o Desenvolvimento Sustentável.</p>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid jumbotroncolor">
        <div class="container">
            <div class="container">
                <!--Carousel-->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center">
                                <iframe width="960" height="550" src="https://www.youtube.com/embed/mYRc-Jg8CWg"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="font-weight-bold"></h5>
                                <br>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                                <iframe width="960" height="550" src="https://www.youtube.com/embed/DCIur79ax8E"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="font-weight-bold"></h5>
                                <br>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                                <iframe width="960" height="550" src="https://www.youtube.com/embed/PckAgY6stqU"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="font-weight-bold"></h5>
                                <br>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </div>
                <!--/Carousel-->

            </div>
        </div>
    </div>


    <br>
    <div class="container justify-content-center font-text">
        <div class="row py-4">
            <div class="col-md-12">
                <h1><strong><mark class="marktext">Desenvolvedoras:</mark></strong></h1>
                <br>
                <h5>
                    Desenvolvedoras Fullstack Java Jr. formadas pelo bootcamp da Generation Brasil. Turma 55 -
                    Recife/PE.
                </h5>
            </div>
        </div>


        <div class="container-fluid d-flex justify-content-center">
            <div class="row col-md-12">
                <div class="col-md-4 py-4">

                    <img src="https://i.imgur.com/kBf8gVk.jpg" class="centraliza-img img-fluid rounded-circle">

                    <h3 class="centraliza py-4"><strong>
                        Amanda Santos</strong></h3>

                    <p class="centraliza">Desenvolvedora Fullstack Java Jr, 23 anos. Transição da área ambiental e
                        estudante de Desenvolvimento de sistemas. </p>

                    <ul class="social-network">
                        <li>
                            <a href="https://www.linkedin.com/in/amanda-santos-8b1852235/" target="_blank"
                                class="icoLinkedin">
                                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://github.com/Amanda1011" target="_blank" class="icoGithub">
                                <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 py-4">

                    <img src="https://i.imgur.com/x3PiIw4.jpg" class="centraliza-img img-fluid rounded-circle">

                    <h3 class="centraliza py-4"><strong>
                        Ellen Ferreira</strong></h3>

                    <p class="centraliza">Assistente social em transição de carreira, tenho 23 anos, sou Recifense e
                        acredito na tecnologia como potência para transformação social. </p>

                    <ul class="social-network">
                        <li>
                            <a href="https://www.linkedin.com/in/ellen-ferreira-/" target="_blank"
                                class="icoLinkedin">
                                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://github.com/ferreiraellen" target="_blank" class="icoGithub">
                                <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="col-md-4 py-4">

                    <img src="https://i.imgur.com/OU8L746.jpg" class="centraliza-img img-fluid rounded-circle">

                    <h3 class="centraliza py-4"><strong>
                        Flávia Cavalcanti</strong></h3>

                    <p class="centraliza">Flávia, 19 anos. Técnica em informática e me especializando em programação, pois sou  completamente viciada em computadores.</p>

                    <ul class="social-network">
                        <li>
                            <a href="https://www.linkedin.com/in/flaviamcavalcanti" target="_blank"
                                class="icoLinkedin">
                                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://github.com/FlaviaCavalcanti" target="_blank" class="icoGithub">
                                <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>

                </div>


                <div class="col-md-4 py-4">

                    <img src="https://i.imgur.com/0f5JZZl.jpg" class="centraliza-img img-fluid rounded-circle">

                    <h3 class="centraliza py-4"><strong>
                        Giovana de Morais</strong></h3>

                    <p class="centraliza">Olá! Sou Recifense, tenho 26 anos e mãe de Sophia. Quando uma porta é aberta
                        eu sei aproveitar a oportunidade.</p>

                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/giovana-ferraz-737623162/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                                </a>
                            </li>
    
                            <li>
                                <a href="https://github.com/giiiors" target="_blank" class="icoGithub">
                                    <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                </div>

                <div class="col-md-4 py-4">

                    <img src="https://i.imgur.com/KaCpozp.jpg" class="centraliza-img img-fluid rounded-circle">

                    <h3 class="centraliza py-4"><strong>
                        Kelly Sousa</strong></h3>

                    <p class="centraliza">31 anos, Recifense, Secretária em transição de carreira buscando um espaço ao
                        sol como Desenvolvedora FullStak Java. </p>

                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/kellykilma/" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                                </a>
                            </li>
    
                            <li>
                                <a href="https://github.com/kellykilmadesousa" target="_blank" class="icoGithub">
                                    <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>

                </div>

                <div class="col-md-4 py-4">

                    <img src="https://i.imgur.com/7RZouhR.jpg" class="centraliza-img img-fluid rounded-circle">

                    <h3 class="centraliza py-4"><strong>
                        Lorena Martins</strong></h3>

                    <p class="centraliza">Olá! Me chamo Lorena, tenho 27 anos e sou mãe de Amelie. Gosto de front-end,
                        idiomas e música. Acredito na revolução das minorias tecnologia.</p>

                     <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/loirena" target="_blank"
                                    class="icoLinkedin">
                                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                                </a>
                            </li>
    
                            <li>
                                <a href="https://github.com/loirena" target="_blank" class="icoGithub">
                                    <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                </div>

            </div>
        </div>
    </div>
</body>

<div class="col-md-12 rodape">
    <footer>
        <div class="container d-flex justify-content-end">
            <div class="col-md-4">
                <h4 class="legendarodape frase">Rio Capibaribe, Recife-PE</h4>
            </div>
        </div>
    </footer>
</div>

<footer class="font-small bgfooter pt-4">
    <div class="text-center py-4 font-text">
        <span><strong>RECICLO</strong></span>
        <h6>Todos os direitos reservados ©2022</h6>
    </div>
</footer>