.img{
    width: 20%;
   
    margin-top: 50px;
}
.recicle {
    margin-top: 50px;

}
.card{
    width: 80%;
}
.text{
    margin-left: px;
}
.card2{
    margin-top: 100px;
}
.tex2{
    padding-left: 15px;
}
.rodape{
    background-image: url('https://i.imgur.com/ogEmXpe.png');
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.black{
    color: rgb(252, 249, 248);
}

.frase{
    position: relative;
    left: 180px;
    top: 400px;
}

.marktext{
    background-color: #FAE6A7;
}

.jumbotroncolor{
    background-color: #90caf9;
}