<div class="container-fluid">

    <div class="row bg-primary">
<div class="col-md-6">

<div class="row d-flex justify-content-center">
<div class="col-md-6">
    <h1 class="fs-54">Seja bem vindo(a)!</h1>
    <h5 class="fs-18">Reduza, Reuse e REcicle</h5>
</div>
</div>

<div class="row d-flex justify-content-center mt-3 mb-5">
<div class="col-md-6">
    <button class="btn btn-light mr-2">Nova postagem</button>
    <a class="btn btn-outline-light" href="">Ver postagem</a>

</div>

</div>

    </div>

    <div class="col-md-6">
        <img src="https://imgur.com/a/20BakRl" alt="" width="500px" height="500px">
    </div>
   </div>

</div>