.tamanho-foto{
    width: 300px;
    height: 300px;
}

.bg{
    background-color: #90caf9;
}

.bgmodal{
    background-color: #D2EFFA;
}

.marktext{
    background-color: #FAE6A7;
}

.fs{
    font-size: 48px;
}

.font-edit{
    font-family: "Lucida Console", "Lucida Console", monospace;
  }